*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-principal{
    width: 100vw;
    height: 100vh;
    display: grid;

    border: black solid 0.1rem;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    overflow: hidden;
}

.seccion1, .seccion2, .seccion3, .seccion4, .seccion5, .seccion6{
    border: black solid 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 3rem;
}

.seccion1, .seccion2{
    background-color: #c8e6c9;
}

.seccion3, .seccion4{
    background-color: #ffe0b2
}

.seccion5{
    background-color: #ffcdd2;
}

.seccion6{
    background-color: #bbdefb;
}

@media (max-width: 768px){
    .contenedor-principal{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }

    .seccion2, .seccion4, .seccion5 {
        display: none;
    }

    .seccion1 {
        grid-column: 1;
        order: 1;
    }
    .seccion3 {
        grid-column: 1;
        order: 2;
    }

    .seccion6 {
        grid-column: 1;
        order: 3;
    }
}

@media (max-width: 480px) {
    .contenedor-principal {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .seccion1, .seccion2, .seccion3, .seccion4, .seccion5, .seccion6 {
        grid-column: 1;
    }
    .seccion5 {
        background-color: #bbdefb;
    }

    .seccion6 {
        background-color: #ffcdd2;
    }
}